/* Custom styles for cards */
.custom-card {
    border-radius: 10px; /* Slightly rounded corners for the cards */
    overflow: hidden; /* Ensures image corners match card corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.custom-card .card-img-top {
    height: 200px; 
    object-fit: cover;
}

.custom-card .card-body {
    padding: 1.25rem;
}

.custom-card .card-title {
    font-size: 1.2rem; 
    margin-bottom: 0.5rem;
}

.custom-card .card-text {
    font-size: 0.9rem; 
    line-height: 1.4;
}

.card-logo {
    height: 25px; 
    width: auto;
    max-width: 100px; 
}

.custom-badge {
    padding: 0.4em 0.8em;
    border-radius: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Specific badge colors to match the image */
.badge.bg-secondary {
    background-color: #8A2BE2 !important;
    color: white;
}

.badge.bg-primary {
    background-color: #8A2BE2 !important; 
    color: white;
}


.badge.bg-purple-netflix {
    background-color: #8A2BE2 !important; 
}

