.haut{
    margin: 0px;
}

.btn-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-indigo); 
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: green;
    --bs-btn-active-color: yellow;
    --bs-btn-active-bg: purple;
    --bs-btn-active-border-color: red;
}