.haut{
    margin: 0px;
}

:root, [data-bs-theme=light] {
    --bs-primary: #7749F8;
    --bs-primary-rgb: 119,73,248;
}

.btn-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-indigo); 
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: green;
    --bs-btn-active-color: yellow;
    --bs-btn-active-bg: purple;
    --bs-btn-active-border-color: red;
}


.toast:not(.show){
    display: block;
}

.blogpost{
    height: 416px;
    background: var(--colors-blue-blue-200, #9EC5FE);
    background-image: url("/images/Blog post.png");
    background-size: cover;
}

